# Server
NODE_ENV=development
PORT=4000
APP_URL=http://localhost:4000

# Postgres (for local Docker-compose)
DATABASE_URL=postgresql://postgres:postgres@db:5432/landing?schema=public

# JWT
JWT_ACCESS_TOKEN_SECRET=sfjdshfkjsdkjcjqsnxzqjeflkzeguizeopzeodjcjdsbchbsdcbq345456346345465447568678087754642dfhscbudhiuehivbdsubcsdu
JWT_REFRESH_TOKEN_SECRET=fhjjhjghfghhbhbcsdcbsudnczisjdkzndjhbjhzb42353643575462354364565bvhdkjfklesrjflkjerjkfb34546325476587xchbdj
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# SMTP (Gmail recommended with App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=mohammeddz916@gmail.com
SMTP_PASS=jvps oaxu rceb xjnn

# Security
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
CSRF_SECRET=chbjshdbcuydsbcsdjhsjchsdbcuzxqjiqsz32534546457565675354djvdhuvfdbcsnnkqhdalziozaiozh1242334656757696534354465354efbezfuehz

# Admin
ADMIN_EMAIL=mohammeddz916@gmail.com

# Prisma
PRISMA_CLIENT_ENGINE_TYPE=binary
